<body style="background-color:#F7F7F7;">
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td align="center" bgcolor="#fff" style="padding: 40px 0 30px 0;">
                <img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-02/master/.github/logo.png" width="150" height="100" style="display: block;" />
              </td>
            </tr>
              {{{ body }}}
              </table>
                </td>
              </tr>
              {{> footer }}
          </table>
        </td>
      </tr>
  </table>
  </div>
</body>
