<tr>
  <td bgcolor="#EE4D64" style="color: #fff; padding: 30px 30px 10px 30px;">
    <center><h2>Pedido de Ajuda</h2></center>
  </td>
</tr>
<tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="color: #EE4D64;">
          <center>
            <h2>Olá, {{ student }}!</h2>
          </center>
        </td>
      </tr>
      <tr>
        <td>
          <center>
            <h3>Pergunta:</h3>
            <p><strong style="color:#EE4D64">{{ question }}</strong></p><br />
          </center>
        </td>
      </tr>
      <tr>
        <td>
          <center>
            <h3>Resposta:</h3>
            <p><strong style="color:#EE4D64">{{ answer }}</strong></p><br />
            <p>Respondida em: {{ answer_date }}</p>
          </center>
        </td>
      </tr>

